Repository ui-schema/ui-schema: changes, and which Codecov flags are due for each by the changed paths.
All: dictionary, ds-bootstrap, ds-material, json-pointer, json-schema, kit-dnd, material-dnd, material-pickers, pro, react, react-json-schema, ui-schema

netlify ci; fix vulnerabilities (dev utils only, not in published code);
  netlify.toml
  packages/demo-server/src/function.ts
  packages/docs/cli/doc-gen.ts
  tools/server_nodejs/package.json
  tools/server_nodejs/server.js
Due: none

nosonar in docs bundling cli;
  packages/docs/cli/doc-gen.ts
Due: none

code analysis settings
  .codecov.yml
  .sonarcloud.properties
Due: none

sonar config, netlify ci;
  .sonarcloud.properties
  netlify.toml
  packages/demo-server/src/cluster.ts
  packages/demo-server/src/function.ts
  packages/demo-server/src/server.ts
Due: none

remove react-uid
  package-lock.json
  packages/demo-web/package.json
  packages/docs/package.json
  packages/ds-bootstrap/package.json
  packages/ds-material/package.json
  packages/ds-material/src/BaseComponents/Table/TableRenderer.tsx
  packages/ds-material/src/Widgets/Accordions/Accordions.tsx
  packages/ds-material/src/Widgets/NumberSlider/NumberSlider.tsx
  packages/ds-material/src/Widgets/OptionsCheck/OptionsCheck.tsx
  packages/ds-material/src/Widgets/Select/Select.tsx
  packages/ds-material/src/Widgets/Select/SelectMulti.tsx
  packages/ds-material/src/Widgets/TextField/TextField.tsx
  packages/ds-material/src/Widgets/TextFieldCell/TextFieldCell.tsx
  packages/ds-material/src/Widgets/TextFieldDebounced/TextFieldDebounced.tsx
  packerConfig.js
Due: ds-bootstrap, ds-material

eslint no-duplicate-imports; mv SchemaPluginsAdapter to react core;
  eslint.config.js
  package-lock.json
  package.json
  packages/demo-web/src/component/MainDummy.tsx
  packages/demo-web/src/material-ui/material-ui-dnd-grid.tsx
  packages/demo-web/src/material-ui/material-ui-examples.tsx
  packages/demo-web/src/material-ui/material-ui-read-write.tsx
  packages/demo-web/src/material-ui/material-ui-split.tsx
  packages/demo-web/src/material-ui/material-ui.tsx
  packages/docs/src/component/Schema/widgets.tsx
  packages/json-schema/src/Validators/ArrayValidator/ArrayValidator.test.ts
  packages/kit-dnd/src/calcIntentPos/calcIntentPos.test.ts
  packages/react-json-schema/src/index.ts
  packages/react/src/SchemaPluginsAdapter/SchemaPluginsAdapter.test.tsx
  packages/react/src/SchemaPluginsAdapter/SchemaPluginsAdapter.tsx
  packages/react/src/SchemaPluginsAdapter/index.ts
  packages/react/src/TranslateTitle/TranslateTitle.tsx
  packages/react/src/UIStore/UIStoreProvider.test.tsx
  packages/react/src/WidgetEngine/WidgetEngine.test.tsx
  packages/react/src/WidgetEngine/WidgetEngine.tsx
  packages/react/src/WidgetRenderer/WidgetRenderer.tsx
  packages/react/tests/UIEngineIntegration.test.tsx
Due: json-schema, kit-dnd, react, react-json-schema

fix ds-bootstrap classes, html, bootstrap5
  TODO.md
  packages/ds-bootstrap/src/Component/Icons/Icons.tsx
  packages/ds-bootstrap/src/Grid/Grid.tsx
  packages/ds-bootstrap/src/GridContainer/GridContainer.tsx
  packages/ds-bootstrap/src/Widgets/OptionsBoolean/OptionsBoolean.tsx
  packages/ds-bootstrap/src/Widgets/OptionsCheck/OptionsCheck.tsx
  packages/ds-bootstrap/src/Widgets/OptionsRadio/OptionsRadio.tsx
  packages/ds-bootstrap/src/Widgets/Select/Select.tsx
  packages/ds-bootstrap/src/Widgets/Select/SelectMulti.tsx
  packages/ds-bootstrap/src/Widgets/SimpleList/SimpleList.tsx
  packages/ds-bootstrap/src/Widgets/TextField/TextField.tsx
Due: ds-bootstrap

validator plugin mergeSchemas heuristic #50; bigint multipleOf validator
  TODO.md
  TODO_Validate.md
  packages/ds-material/src/BaseComponents/Table/TableRenderer.tsx
  packages/json-schema/src/ValidatorPlugin/ValidatorPlugin-applied.test.ts
  packages/json-schema/src/ValidatorPlugin/ValidatorPlugin.ts
  packages/json-schema/src/Validators/MultipleOfValidator/MultipleOfValidator.ts
  packages/ui-schema/src/CommonTypings/CommonTypings.ts
Due: ds-material, json-schema, ui-schema

beautify improve performance, rm hidden cache/mem-leak;
  packages/ui-schema/src/Utils/beautify/beautify.test.ts
  packages/ui-schema/src/Utils/beautify/beautify.ts
Due: ui-schema

ds-material options from schema support nested oneOf/anyOf;
  TODO.md
  packages/ds-material/src/Utils/useOptionsFromSchema/useOptionsFromSchema.test.ts
  packages/ds-material/src/Utils/useOptionsFromSchema/useOptionsFromSchema.ts
Due: ds-material

canonical getBaseUrl better split
  packages/ui-schema/src/SchemaResource/Canonical.ts
Due: ui-schema

add keysToName for name attribute generation on input/select
  TODO.md
  TODO_0-6-x.md
  packages/demo-web/src/bootstrap/page-main.tsx
  packages/demo-web/src/material-ui/material-ui-examples.tsx
  packages/demo-web/src/material-ui/material-ui.tsx
  packages/docs/src/component/Schema/widgets.tsx
  packages/ds-bootstrap/src/Widgets/OptionsBoolean/OptionsBoolean.tsx
  packages/ds-bootstrap/src/Widgets/OptionsCheck/OptionsCheck.tsx
  packages/ds-bootstrap/src/Widgets/OptionsRadio/OptionsRadio.tsx
  packages/ds-bootstrap/src/Widgets/Select/Select.tsx
  packages/ds-bootstrap/src/Widgets/Select/SelectMulti.tsx
  packages/ds-bootstrap/src/Widgets/TextField/TextField.tsx
  packages/ds-material/src/Widgets/OptionsBoolean/OptionsBoolean.tsx
  packages/ds-material/src/Widgets/OptionsCheck/OptionsCheck.tsx
  packages/ds-material/src/Widgets/OptionsRadio/OptionsRadio.tsx
  packages/ds-material/src/Widgets/Select/Select.tsx
  packages/ds-material/src/Widgets/Select/SelectMulti.tsx
  packages/ds-material/src/Widgets/TextField/TextField.tsx
  packages/ds-material/src/Widgets/TextFieldCell/TextFieldCell.tsx
  packages/ds-material/src/Widgets/TextFieldDebounced/TextFieldDebounced.tsx
  packages/json-schema/src/ValidatorPlugin/ValidatorPlugin-applied.test.ts
  packages/json-schema/src/ValidatorPlugin/ValidatorPlugin.ts
  packages/react/src/UIMeta/UIMeta.tsx
  packages/ui-schema/src/Utils/index.ts
  packages/ui-schema/src/Utils/keysToName/index.ts
  packages/ui-schema/src/Utils/keysToName/keysToName.test.ts
  packages/ui-schema/src/Utils/keysToName/keysToName.ts
Due: ds-bootstrap, ds-material, json-schema, react, ui-schema

new required validator: lookahead support, docs about it;
  TODO_Validate.md
  packages/demo-web/src/material-ui/material-ui.tsx
  packages/json-schema/src/StandardValidators/StandardValidators.ts
  packages/react/src/ValidityReporter/ValidityReporter.tsx
Due: json-schema, react

docs, version release prep; rename translator utils;
  CONTRIBUTING.md
  README.md
  TODO.md
  package-lock.json
  packages/demo-server/src/handler/ReactHandler.tsx
  packages/docs/package.json
  packages/docs/src/component/DocsDetailsModules.tsx
  packages/docs/src/content/docs/core/localization.md
  packages/docs/src/content/docs/react/localization.md
  packages/docs/src/content/updates/overview.md
  packages/docs/src/content/updates/v0.4.0-v0.5.0.md
  packages/ds-material/tests/MockSchemaProvider.mock.tsx
  packages/kit-dnd/package.json
  packages/material-dnd/package.json
  packages/react/src/VirtualWidgetRenderer/WidgetRenderer-virtual.test.tsx
  packages/react/tests/MockSchemaProvider.mock.tsx
  packages/react/tests/UIEngineIntegration.test.tsx
  packages/ui-schema/src/Translator/makeTranslator.ts
  packages/ui-schema/src/TranslatorRelative/TranslatorRelative.ts
Due: ds-material, kit-dnd, material-dnd, react, ui-schema

mui v7, new/rename grid; published packages change esm/cjs internals;
  TODO.md
  package-lock.json
  packages/demo-web/src/material-ui/material-ui.tsx
  packages/dictionary/package.json
  packages/docs/package.json
  packages/docs/src/component/Schema/widgets.tsx
  packages/ds-bootstrap/package.json
  packages/ds-material/package.json
  packages/ds-material/src/BindingDefault/index.ts
  packages/ds-material/src/Grid2/Grid2.tsx
  packages/ds-material/src/Grid2/index.ts
  packages/ds-material/src/Grid2Container/Grid2Container.tsx
  packages/ds-material/src/Grid2Container/index.ts
  packages/ds-material/src/GridContainer/GridContainer.tsx
  packages/ds-material/src/GridItemPlugin/GridItemPlugin.tsx
  packages/ds-material/src/GridItemPlugin/index.ts
  packages/ds-material/src/GroupRenderer/GroupRenderer.tsx
  packages/ds-material/src/GroupRenderer/index.ts
  packages/json-pointer/package.json
  packages/json-schema/package.json
  packages/kit-dnd/package.json
  packages/material-dnd/package.json
  packages/material-pickers/package.json
  packages/pro/package.json
  packages/react/package.json
  packages/ui-schema/package.json
  packerConfig.js
Due: dictionary, ds-bootstrap, ds-material, json-pointer, json-schema, kit-dnd, material-dnd, material-pickers, pro, react, ui-schema

dictionary rm immutable dep;
  package-lock.json
  packages/dictionary/package.json
  packages/dictionary/src/typeToString/typeToString.ts
Due: dictionary

docs, rm material-color content; normalize readmes;
  Flowchart.md
  README.md
  TODO.md
  packages/demo-server/LICENSE
  packages/demo-web/src/material-ui/README.md
  packages/dictionary/README.md
  packages/docs/LICENSE
  packages/docs/README.md
  packages/docs/src/content/docs.ts
  packages/docs/src/content/docs/json-schema/overview.md
  packages/docs/src/content/docs/material-color/material-color.md
  packages/docs/src/content/docs/material-colorful/material-colorful.md
  packages/docs/src/content/docs/material-colorful/material-colorfulDemo.ts
  packages/docs/src/content/docs/widgets/overview.md
  packages/docs/src/content/updates/v0.4.0-v0.5.0.md
  packages/docs/src/page/PageQuickStart.tsx
  packages/ds-bootstrap/README.md
  packages/ds-material/README.md
  packages/json-pointer/README.md
  packages/json-schema/README.md
  packages/kit-dnd/README.md
  packages/material-dnd/README.md
  packages/material-pickers/README.md
  packages/pro/README.md
  packages/react/README.md
  packages/ui-schema/README.md
Due: dictionary, ds-bootstrap, ds-material, json-pointer, json-schema, kit-dnd, material-dnd, material-pickers, pro, react, ui-schema

add package.json to exports
  packages/dictionary/package.json
  packages/ds-bootstrap/package.json
  packages/ds-material/package.json
  packages/json-pointer/package.json
  packages/json-schema/package.json
  packages/kit-dnd/package.json
  packages/material-dnd/package.json
  packages/material-pickers/package.json
  packages/pro/package.json
  packages/react/package.json
  packages/ui-schema/package.json
  packerConfig.js
Due: dictionary, ds-bootstrap, ds-material, json-pointer, json-schema, kit-dnd, material-dnd, material-pickers, pro, react, ui-schema

add esm/cjs resolver ci checks;
  .editorconfig
  .github/workflows/blank.yml
  TODO.md
  eslint.config.js
  package.json
  packerConfig.js
  tools/demo_env_base/check-cjs.cjs
  tools/demo_env_base/check-cjs.js
  tools/demo_env_base/check-esm.js
  tools/demo_env_base/check-esm.mjs
  tools/demo_env_base/package.json
  tools/run-check-with-type.mjs
Due: none

sonar duplications exclude cjs/esm resolver checks, mark child_process;
  .sonarcloud.properties
  tools/run-check-with-type.mjs
Due: none

rewrite ArrayValidator, add prefixItems/draft-2020-12 support;
  TODO_Validate.md
  packages/docs/src/content/docs/schema.md
  packages/docs/src/content/updates/v0.5.0-ArrayValidator.md
  packages/json-schema/src/StandardValidators/StandardValidators.test.ts
  packages/json-schema/src/ValidatorPlugin/ValidatorPlugin.ts
  packages/json-schema/src/Validators/ArrayValidator/ArrayValidator.test.ts
  packages/json-schema/src/Validators/ArrayValidator/ArrayValidator.ts
  packages/json-schema/src/Validators/MinMaxValidator/MinMaxValidatorString.ts
Due: json-schema

version lock
  README.md
  TODO.md
  package-lock.json
  packages/demo-server/package.json
  packages/demo-web/package.json
  packages/dictionary/package.json
  packages/docs/package.json
  packages/docs/src/content/updates/v0.4.0-v0.5.0.md
  packages/ds-bootstrap/package.json
  packages/ds-material/package.json
  packages/json-pointer/package.json
  packages/json-schema/package.json
  packages/kit-dnd/package.json
  packages/material-dnd/package.json
  packages/material-pickers/package.json
  packages/pro/package.json
  packages/react/package.json
  packages/ui-schema/package.json
Due: dictionary, ds-bootstrap, ds-material, json-pointer, json-schema, kit-dnd, material-dnd, material-pickers, pro, react, ui-schema

code clean up
  packages/json-schema/src/ValidatorPlugin/ValidatorPlugin.ts
  packages/json-schema/src/Validators/ArrayValidator/ArrayValidator.ts
  packages/ui-schema/src/getFields/getFields.ts
  packages/ui-schema/src/schemaRulesToNative/schemaRulesToNative.ts
Due: json-schema, ui-schema

validator tests multipleof, vanilla-object;
  packages/json-schema/src/Validators/MultipleOfValidator/MultipleOfValidator.test.ts
  packages/json-schema/src/Validators/ObjectValidator/ObjectValidator.test.ts
Due: json-schema

ci master to main
  .github/workflows/blank.yml
  README.md
Due: none

ci peer deps range matrix tests
  .github/workflows/dependency-compat.yml
  package-lock.json
  packages/docs/package.json
  tools/npm-overrides.js
  tools/npm-revert-overrides.js
Due: none

ci
  .github/workflows/dependency-compat.yml
Due: none

ds-bootstrap add missing required star;
  packages/ds-bootstrap/src/Component/Required/Required.tsx
  packages/ds-bootstrap/src/Component/Required/index.ts
  packages/ds-bootstrap/src/Component/index.ts
  packages/ds-bootstrap/src/Widgets/OptionsBoolean/OptionsBoolean.tsx
  packages/ds-bootstrap/src/Widgets/OptionsCheck/OptionsCheck.tsx
  packages/ds-bootstrap/src/Widgets/OptionsRadio/OptionsRadio.tsx
  packages/ds-bootstrap/src/Widgets/Select/Select.tsx
  packages/ds-bootstrap/src/Widgets/Select/SelectMulti.tsx
  packages/ds-bootstrap/src/Widgets/SimpleList/SimpleList.tsx
  packages/ds-bootstrap/src/Widgets/TextField/TextField.tsx
Due: ds-bootstrap

material-pickers add view.dense keyword support
  packages/material-pickers/src/WidgetDatePicker/WidgetDatePicker.tsx
  packages/material-pickers/src/WidgetDateTimePicker/WidgetDateTimePicker.tsx
  packages/material-pickers/src/WidgetTimePicker/WidgetTimePicker.tsx
Due: material-pickers

fix duplicated contains validator, split up arrayValidator;
  packages/json-schema/src/StandardValidators/StandardValidators.ts
  packages/json-schema/src/Validators/ArrayValidator/ArrayValidator.test.ts
  packages/json-schema/src/Validators/ArrayValidator/ArrayValidator.ts
Due: json-schema

inline code docs: schema resource, schema type test utils'
  packages/ui-schema/src/SchemaResource/SchemaResource.ts
  packages/ui-schema/src/SchemaResource/walkBranch.ts
  packages/ui-schema/src/schemaTypeIs/schemaTypeIs.ts
  packages/ui-schema/src/schemaTypeIsDistinct/schemaTypeIsDistinct.ts
  packages/ui-schema/src/schemaTypeToDistinct/schemaTypeToDistinct.ts
Due: ui-schema

consistent readme
  LICENSE
  README.md
  package-lock.json
  package.json
  packages/demo-server/package.json
  packages/demo-web/package.json
  packages/dictionary/README.md
  packages/dictionary/package.json
  packages/ds-bootstrap/README.md
  packages/ds-bootstrap/package.json
  packages/ds-material/README.md
  packages/ds-material/package.json
  packages/json-pointer/README.md
  packages/json-pointer/package.json
  packages/json-schema/README.md
  packages/json-schema/package.json
  packages/kit-dnd/README.md
  packages/kit-dnd/package.json
  packages/material-dnd/README.md
  packages/material-dnd/package.json
  packages/material-pickers/README.md
  packages/material-pickers/package.json
  packages/pro/README.md
  packages/pro/package.json
  packages/react/README.md
  packages/react/package.json
  packages/ui-schema/README.md
  packages/ui-schema/package.json
Due: dictionary, ds-bootstrap, ds-material, json-pointer, json-schema, kit-dnd, material-dnd, material-pickers, pro, react, ui-schema

dictionary sentence dots;
  packages/dictionary/src/de/errors.ts
  packages/dictionary/src/en/errors.ts
Due: dictionary

correct render-plugin index in makeNext
  packages/react/src/WidgetEngine/NextPlugin.tsx
Due: react

Path conditions:
  dictionary: any of: packages/dictionary/**
  ds-bootstrap: any of: packages/ds-bootstrap/**
  ds-material: any of: packages/ds-material/**
  json-pointer: any of: packages/json-pointer/**
  json-schema: any of: packages/json-schema/**
  kit-dnd: any of: packages/kit-dnd/**
  material-dnd: any of: packages/material-dnd/**
  material-pickers: any of: packages/material-pickers/**
  pro: any of: packages/pro/**
  react: any of: packages/react/**
  react-json-schema: any of: packages/react-json-schema/**
  ui-schema: any of: packages/ui-schema/**
