Repository ui-schema/ui-schema: changes, and which Codecov flags are due for each by the changed paths.
All: dictionary, ds-bootstrap, ds-material, json-pointer, json-schema, kit-dnd, material-dnd, material-pickers, pro, react, react-json-schema, ui-schema

.codecov.yml:

# validate file:
# curl -X POST --data-binary @.codecov.yml https://api.codecov.io/validate

# comment: no # do not comment PR with the result
comment:
    layout: "header, diff, components"  # show component info in the PR comment

coverage:
    status:
        project: on
        #project:
        #    dictionary:
        #        paths:
        #            - packages/dictionary/**
        #    ui-schema:
        #        paths:
        #            - packages/ui-schema/**
        #project:
        #    default: # default is the status check's name, not default settings
        #        target: auto
        #        threshold: 5%
        #        #base: auto
        #        #only_pulls: false

        patch: off
        changes: off

component_management:
    #default_rules: # default rules that will be inherited by all components
    #    statuses:
    #        -   type: project # in this case every component that doesn't have a status defined will have a project type one
    #            target: auto
    individual_components:
        -   component_id: dictionary
            name: dictionary
            paths:
                - packages/dictionary/**
        -   component_id: ds-bootstrap
            name: ds-bootstrap
            paths:
                - packages/ds-bootstrap/**
        -   component_id: ds-material
            name: ds-material
            paths:
                - packages/ds-material/**
        -   component_id: json-pointer
            name: json-pointer
            paths:
                - packages/json-pointer/**
        -   component_id: json-schema
            name: json-schema
            paths:
                - packages/json-schema/**
        -   component_id: kit-dnd
            name: kit-dnd
            paths:
                - packages/kit-dnd/**
        -   component_id: material-dnd
            name: material-dnd
            paths:
                - packages/material-dnd/**
        -   component_id: material-pickers
            name: material-pickers
            paths:
                - packages/material-pickers/**
        -   component_id: pro
            name: pro
            paths:
                - packages/pro/**
        -   component_id: react
            name: react
            paths:
                - packages/react/**
        -   component_id: react-json-schema
            name: react-json-schema
            paths:
                - packages/react-json-schema/**
        -   component_id: ui-schema
            name: ui-schema
            paths:
                - packages/ui-schema/**

v up; docs;
  TODO_0-6-x.md
  package-lock.json
  packages/dictionary/package.json
  packages/docs/src/content/docs/plugins.md
  packages/ds-bootstrap/package.json
  packages/ds-material/package.json
  packages/json-pointer/README.md
  packages/json-pointer/package.json
  packages/json-schema/package.json
  packages/kit-dnd/package.json
  packages/material-dnd/package.json
  packages/material-pickers/package.json
  packages/pro/package.json
  packages/react/package.json
  packages/react/src/ReferencingHandler/parseRefs.ts
  packages/ui-schema/package.json
Due: dictionary, ds-bootstrap, ds-material, json-pointer, json-schema, kit-dnd, material-dnd, material-pickers, pro, react, ui-schema

fix ds-material GenericList fullwidth, unify style+gutters w/ SimpleList
  packages/ds-material/src/BaseComponents/GenericList/GenericListContent.tsx
  packages/ds-material/src/BaseComponents/GenericList/GenericListFooter.tsx
  packages/ds-material/src/BaseComponents/GenericList/GenericListItem.tsx
  packages/ds-material/src/Widgets/SimpleList/SimpleList.tsx
Due: ds-material

docs repo links main branch rename; eslint; ds-material v up; dep bumps;
  README.md
  eslint.config.js
  package-lock.json
  package.json
  packages/demo-server/package.json
  packages/demo-web/src/material-ui/widgetPluginsLegacy.ts
  packages/docs/package.json
  packages/docs/src/component/DocsDetailsModules.tsx
  packages/docs/src/content/docs/binding.md
  packages/docs/src/content/docs/core/localization.md
  packages/docs/src/content/docs/ds-material/BaseComponents/GenericList/Overview.md
  packages/docs/src/content/docs/ds-material/Component/InfoRenderer.md
  packages/docs/src/content/docs/pro.md
  packages/docs/src/content/docs/react/meta.md
  packages/docs/src/content/docs/react/widgetengine.md
  packages/docs/src/content/docs/schema.md
  packages/docs/src/page/PageQuickStart.tsx
  packages/ds-material/package.json
  packages/react/tests/UIEngineIntegration.test.tsx
Due: ds-material, react

dictionary fix missing d.ts files, fix invalid exports
  packages/dictionary/package.json
Due: dictionary

react add `window` guards, for SSR/react-native compatibility
  TODO.md
  packages/pro/src/UIStorePro/UIStorePro.ts
  packages/react/package.json
  packages/react/src/UIApi/UIApi.tsx
  packages/react/src/Utils/useDebounceValue/useDebounceValue.ts
Due: pro, react

fix min max number validator draft-4 compatibility
  TODO_Validate.md
  packages/json-schema/src/Validators/MinMaxValidator/MinMaxValidator.test.ts
  packages/json-schema/src/Validators/MinMaxValidator/MinMaxValidatorNumber.ts
Due: json-schema

support mixed $schema dialects in schema resource branch
  TODO.md
  packages/json-schema/tests/mocks/mixed-dialects.json
  packages/ui-schema/src/SchemaResource/SchemaResource.test.ts
  packages/ui-schema/src/SchemaResource/SchemaResource.ts
  packages/ui-schema/src/SchemaResource/walkBranch.ts
Due: json-schema, ui-schema

react useImmutable switched to isEqual util
  packages/react/src/Utils/useImmutable/useImmutable.ts
  packages/ui-schema/src/Utils/isEqual/isEqual.ts
Due: react, ui-schema

schemaTypeIs tests; fix schemaTypeIsDistinct missed immutable support;
  packages/ui-schema/src/schemaTypeIs/schemaTypeIs.test.ts
  packages/ui-schema/src/schemaTypeIs/schemaTypeIs.ts
  packages/ui-schema/src/schemaTypeIsDistinct/schemaTypeIsDistinct.test.ts
  packages/ui-schema/src/schemaTypeIsDistinct/schemaTypeIsDistinct.ts
Due: ui-schema

docs; v up;
  .github/workflows/blank.yml
  README.md
  package-lock.json
  packages/dictionary/package.json
  packages/docs/src/page/PageQuickStart.tsx
  packages/json-schema/package.json
  packages/pro/package.json
  packages/react/package.json
  packages/ui-schema/package.json
  packages/ui-schema/src/Widget/Widget.ts
Due: dictionary, json-schema, pro, react, ui-schema

dictionary fix missing folder exports
  package-lock.json
  packages/dictionary/package.json
  packages/tsconfig.json
Due: dictionary
